/*

Color Palette
----
Primary Color (Dark Grey): rgb(65, 56, 53);
Secondary Color (dark blue): rgb(29, 86, 165)
Accent Color (dark salmon): #F87759

Typography
----
Headlines: font-family: 'Racing Sans One', cursive;
Body Copy:font-family: 'Audiowide', cursive;


Patterns: http://subtlepatterns.com/polonez-pattern-2/
*/

/* Global or Sitewide */

body {
    background: url("../img/real_cf.png");
}
    

    
/* Typography */
h1,h2 {
    font-family: 'Racing Sans One', cursive;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
     background: red;
  box-shadow: 0px 0px 20px orange;
    text-align: center;
}

p. blockquote {
    font-family: 'Audiowide', cursive;
    font-size: 1.15em;
    line-height: 1.5em;
    color: #fff;
}

blockquote {
    font-size: 2em;
    padding: 0 4em;
    text-align: center;
    color: #fff;
}

p {
    color: #fff;
}

a {
    color: #fff;
}


li {
 list-style: none;  
  display: inline-block;
}

/*Link & Visited*/
a:link,
a:visited {
  transition: background .5s, margin-left 1s;
  border-left: 8px solid #fff;
  color: white;
  display: block;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  width: 200px;

}

/*Hover State*/
a:hover {
  background: lightorange;
  border-left: 8px solid #FF9500;
  color: #FF9500;
  margin-left: 32px;
}

h1 {
  background: red;
  box-shadow: 0px 0px 20px orange;
    text-align: center;
}

